
figure,figcaption,h3{
	margin: 0;
	padding: 0;
}

body {
	background-color: #f5f5f5;
}
.headline {
	width:100%;
	min-width: 1063px;
	height: 450px;
	background: url('../img/headline.jpg') no-repeat center ;
}

.headline hgroup {
	/*background-color: red;*/
	color: #fff;
	padding-top: 200px;
	padding-left: 50px;
	width: 1263px;
	margin:0 auto;
}

.content {
	min-width: 1263px;
	max-width: 1920px;
	margin: 0 auto;
	padding-top: 30px;
	display: flex;
	justify-content: center;
}

.info {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.info-head {
	font-size:40px;
	color: #777;
	border-bottom :1px dashed gray ;
	padding: 0px 0px 20px 0px;
	margin:0px 0px 20px 0px;
}

.info figure {
	display: flex;
	margin-bottom: 20px;
}

.intro {
	/*float: right;*/
	width: 500px;
	height: 220px;
	padding:0px 0px 0px 25px;
	background-color: white;
	/*position: relative;*/
	display: flex;
}

.intro-left {
	/*background-color: red;*/
	width:60%;
}

.intro .descrip,.intro .traffic,.intro .time{
	color: gray;
}

.intro .title {
	font-size: 24px;
	padding: 15px 0px 15px 0px;
	letter-spacing: 2px;
}

.intro .descrip {
	margin-bottom: 20px;
	font-size: 18px;
	/*background-color:red; */
}

.intro .traffic span ,.intro .time span{
	/*background-color: green;*/
	color:green;
	padding:0px 2px 0px 2px;
	margin-right: 3px;
	border:1px solid green;
	border-radius: 3px;	
}

.intro .traffic {
	margin: 0px 0px 20px 0px;
	font-size: 18px;
}

.intro .time {
	font-size: 18px;
}


.intro-right {
	width:40%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	align-items: center;
}


.intro .discount {
	width: 45px;
	height: 45px;
	align-self: flex-end;
	margin-bottom: 20px;
	background:url('../img/disc.png');
	/*direction: rtl;*/
	/*background-color: green;*/

}

.intro .discount span{
	display: block;
	transform: rotate(45deg);
	padding-left: 13px;
	font-size: 13px;
	color: orange;
	/*background-color: red;*/
}

.intro .price {
	color: orange;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.intro .price strong{
	font-size: 30px;
}

.intro .price span{
	color: #777;
	text-decoration: line-through;
}


.intro button {
	height: 30px;
	width:70%;
	background-color: orange;
	border:none;
	border-radius: 3px;
	color: #fff;
}


.info .last-time {
	margin-left: 20px;
}

.content.content-left {
	padding-left: 40px;
}

.content-left-block {
	background-color: white;
	width:370px;
	border:1px solid gray;
	margin-bottom: 20px;
}

.content-left-block h3 {
	font-size:20px;
	color: #777;
	line-height: 50px;
	background-color: #fafafa;
	padding-left: 10px;
	font-style: normal;
	
}

.list-content {
	padding:10px 20px;
	/*background-color: green;*/
	display: flex;
	flex-wrap: wrap;
}

.recommon >a {
	/*display: block;*/
	background-color: #eeeeee;
	width:100px;
	height: 40px;
	margin:5px;
	text-align: center;
	line-height: 40px;
	color: #777;
}

.recommon a:hover {
	background: green;
	color: white;
}

.list-content figure {
	margin:5px;
}

.list-content figure figcaption{
	text-align: center;
}

.list-content>div {
	
}

.box1,.box2,.box3,.box4 {
	width: 150px;	
	height: 40px;
	margin:5px;
	text-align: center;
	line-height: 40px;
}
.box1 {
	background:#eeeeee url('../img/index.png') left center no-repeat;
}

.box2 {
	background:#eeeeee url('../img/index2.png') left center no-repeat;
}

.box3 {
	background:#eeeeee url('../img/index3.png') left center no-repeat;
}

.box4 {
	background:#eeeeee url('../img/index4.png') left center no-repeat;
}



